{{ docType() }}

{% spaceless %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %} &bull; {{ translate('Versover') }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="PHP, Zend Framework, MySQL, PostgreSQL, SQLite, JavaScript, jQuery, AJAX, HTML5, CSS3, Bootstrap, XML, JSON, Elasticsearch, Gulp, Git, Composer, NPM, Bower, Vagrant, Web-scraping, Parser, PayPal, eBay, Doctrine, REST">
        <meta name="description" content="Web-developers with a full range of services, specializing in PHP and Zend Framework">

        <meta property="og:type" content="website">
        <meta property="og:site_name" content="versover">
        <meta property="og:url" content="http://versover.com/">
        <meta property="og:title" content="Versover -web-developers with a full range of services, specializing in PHP and Zend Framework.">
        <meta property="og:description" content="Web-developers with a full range of services, specializing in PHP and Zend Framework.">
        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="{{ basePath() }}/css/app.css">
        <link href="{{ basePath() }}/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        {% block style %}{% endblock %}

        <!--[if lt IE 9]><script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
        <!--[if lt IE 9]><script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    </head>

    <body>
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            <div class="header-wrapper">
                <!-- ******HEADER****** -->
                <header id="header" class="header navbar-fixed-top">
                    <div class="container">
                        <h1 class="logo">
                            <a class="versover" href="{{ url('home') }}"><span itemprop="name"><span class="highlight">V</span>ersover</span></a>
                        </h1><!--//logo-->
                        <nav class="main-nav navbar-right" role="navigation">
                            <div class="navbar-header">
                                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button><!--//nav-toggle-->
                            </div><!--//navbar-header-->
                            <div id="navbar-collapse" class="navbar-collapse collapse">
                                {{ navigation('navigation').menu().setULClass('nav navbar-nav')|raw }}<!--//nav-->
                            </div><!--//navabr-collapse-->
                            <div class="lang-switch">
                                <span class="lang en" data-lang="en">En</span>
                                <span class="lang ru" data-lang="ru">Ru</span>
                            </div>
                        </nav><!--//main-nav-->
                    </div><!--//container-->
                </header><!--//header-->

            </div><!--//header-wrapper-->

            {% block content %}{{ content|raw }}{% endblock %}
            <script>var path=location.href.split('/').pop(),place=document.querySelector('.header-wrapper'),replace=document.querySelector('.replace'),error=false;switch(path){case'about':place.classList.add('header-wrapper-about');break;case'blog':place.classList.add('header-wrapper-blog-home');break;case'contact':place.classList.add('header-wrapper-contact');break;case'':case'ru':place.classList.add('header-wrapper-home');break;default:error=!error;}if(!error){place.appendChild(replace).classList.remove('hide');}</script>

            <!-- ******FOOTER****** -->
            <footer class="footer">
                <div class="footer-content">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col col-xs-3 col-sm-offset-3 col-xs-offset-1 links-col">
                                <div class="footer-col-inner">
                                    <h3 class="sub-title">{{ translate('Quick Links') }}</h3>
                                    {{ navigation('navigation').menu().setULClass('list-unstyled')|raw }}
                                </div><!--//footer-col-inner-->
                            </div><!--//foooter-col-->
                            <div class="footer-col col-xs-3 contact-col">
                                <div class="footer-col-inner">
                                    <h3 class="sub-title">{{ translate('Get In Touch') }}</h3>
                                    <div class="row">
                                        <p class="phone-hide"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><a href="tel:+380675623777">0675623777</a></p>
                                        <p><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><a href="mailto:versoverteam@gmail.com">versoverteam@gmail.com</a></p>
                                        <p><span class="fs1" aria-hidden="true" data-icon="&#xe0a2;"></span><a href="skype:versover?chat">Versover</a></p>
                                    </div>
                                </div><!--//footer-col-inner-->
                            </div><!--//foooter-col-->
                        </div>
                    </div>
                </div><!--//footer-content-->
                <div class="bottom-bar">
                    <div class="container center">
                        <small class="copyright text-center">&copy; <a class="versover" href="{{ url('home') }}">Versover</a> {{ 'now'|date('Y') }}</small>
                    </div><!--//container-->
                </div><!--//bottom-bar-->
            </footer><!--//footer-->
        </div>
        <script>if (error) document.querySelector('.footer').style.display = 'none';</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ basePath() }}/js/app.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
{% endspaceless %}
